pkgbase = fakeroot-tcp
	pkgdesc = Tool for simulating superuser privileges,with tcp ipc
	pkgver = 1.33
	pkgrel = 1
	url = http://packages.debian.org/fakeroot
	install = fakeroot.install
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL
	makedepends = po4a
	makedepends = automake
	depends = glibc
	depends = filesystem
	depends = sed
	depends = util-linux
	depends = sh
	provides = fakeroot=1.33-1
	conflicts = fakeroot
	source = http://ftp.debian.org/debian/pool/main/f/fakeroot/fakeroot_1.33.orig.tar.gz
	md5sums = 90158414f613867fe4b71d83bb1d81a7

pkgname = fakeroot-tcp

